# ======================
# Python
# ======================
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Node / React
# ======================
node_modules/
dist/
build/

# ======================
# Env files
# ======================
.env
.env.*

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/
